body {
    background-image: url("images/woodPanel.jpg");
    font-family: 'Special Elite', cursive;
}

* {
    box-sizing: border-box;
}

/* Header styles */

.headerContainer {
    width: 900px;
    margin: auto;
}

.headerImage {
    width: 900px;
}

/* Main styles */

.mainContainer {
    width: 900px;
    margin: 20px auto;
}

.answerText {
    font-size: 1.5em;
    color: #f4e6bf;
    text-align: center;
    padding: 20px;
}

#winImage img {
    padding: 20px;
    width: 200px;
} 

#winImage p {
    padding-bottom: 20px;
}

.coffeePic, .bobPic, .cooperPic,
.lauraPic, .piePic, .treesPic {
    display: none;
}

.answerSection {
    background-color: #f4e6bf;
    color: #352a09;
    font-size: 1.25em;
    text-align: center;
    width: 400px;
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.gameSection {
    background-color: #f4e6bf;
    color: #352a09;
    font-size: 1.25em;
    text-align: center;
    width: 400px;
    padding-top: 20px;
    float: right;
}

.gameSection p {
    padding: 10px;
}
#wordInPlay {
    padding: 20px;
}

footer {
    clear: both;
    width: 100%;
    margin-top: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer h6 {
    text-align: center;
    color: #f4e6bf;
    font-size: 1.5em;
}

@media only screen and (max-width: 900px) {

    .headerContainer {
        width: 100%;
        margin: 0;
    }

    .headerImage {
        width: 100%;
    }

    .mainContainer {
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }

    .answerSection {
        width: 50%;
        margin: 0;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

    .gameSection {
        width: 50%;
        height: 300px;
        margin: 0;
    }
}

@media only screen and (max-width: 400px) {

    #winImage img {
        height: auto;
        width: 100%;
    }

}