body {
    background-image: url("images/woodPanel.jpg");
    font-family: 'Special Elite', cursive;
}

* {
    box-sizing: border-box;
}


.headerContainer {
    width: 900px;
    margin: auto;
}

.headerImage {
    width: 900px;
}


@media only screen and (max-width: 900px) {

    .headerContainer {
        width: 100%;
        margin: 0;
    }

    .headerImage {
        width: 100%;
    }
}