/* CSS Variables */
:root {
    --font-specialElite: 'Special Elite', cursive;
    --font-standard: 2em;
    --main-light: #f4e6bf;
    --main-dark: #352a09;
}

/* Universal and Browser styles */
* {
    font-family: var(--font-specialElite);
    box-sizing: border-box;
}

html {
    background: url("images/woodPanel.JPG") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ++++++ MOBILE VIEW ++++++ */

/* Header styles */

.header-field {
    width: 100%;
    margin: auto;
}

.header-image {
    width: 100%;
}

/* Main styles */

.main-container {
    width: 100%;
    margin: 20px auto;
}

.main-playField-instructions {
    height: 100px;
    margin: 50px;
    font-size: var(--font-standard);
    color: var(--main-light);
    text-align: center;
}

.main-leftbox-laptopView {
    display: none;
} 

.coffeePic, .bobPic, .cooperPic,
.lauraPic, .piePic, .treesPic {
    display: none;
}

.main-game-stats {
    background-color: var(--main-light);
    color: var(--main-dark);
    font-size: 1.25em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.main-game-stats-textbox {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.main-game-stats-text {
    padding: 10px;
}

.main-game-wins {
    padding-bottom: 20px;
}

#wordInPlay {
    padding: 20px;
}

/* FOOTER STYLES */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 20px;
    clear: both;
}

footer h6 {
    font-size: 1.5em;
    color: var(--main-light);
    text-align: center;
}

/* @media only screen and (min-width: 1024px) {

    .header-field {
        width: 900px;
        margin: auto;
    }

    .header-image {
        width: 100%;
    }

    .main-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
    }

    .main-container-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .main-leftbox-laptopView {
        background-color: var(--main-light);
        display: block;
        width: 25%;
    }

    .main-leftbox-laptopView img {
        display: block;
        width: 300px;
        padding: 20px;
        margin: auto;
    } 
    
    .main-leftbox-laptopView p {
        padding-bottom: 20px;
        text-align: center;
    }

    .main-game-stats {
        width: 25%;
    }

} */
