/* CSS Variables */
:root {
    --font-specialElite: 'Special Elite', cursive;
    --main-light: #f4e6bf;
    --main-dark: #352a09;
}

/* Universal and Browser styles */
* {
    font-family: var(--font-specialElite);
    box-sizing: border-box;
}

html {
    background: url("images/woodPanel.JPG") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Header styles */

.header-field {
    width: 100%;
    margin: auto;
}

.header-image {
    width: 100%;
}

/* Main styles */

.main-container {
    width: 900px;
    margin: 20px auto;
}

.main-instructions {
    font-size: 2em;
    color: var(--main-light);
    text-align: center;
    padding: 50px;
}

.main-laptopview-image {
    display: none;
} 

.coffeePic, .bobPic, .cooperPic,
.lauraPic, .piePic, .treesPic {
    display: none;
}

.main-game-stats {
    background-color: var(--main-light);
    color: var(--main-dark);
    font-size: 1.25em;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

#wordInPlay {
    padding: 20px;
}

footer {
    clear: both;
    width: 100%;
    margin-top: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer h6 {
    text-align: center;
    color: var(--main-light);
    font-size: 1.5em;
}

@media only screen and (min-width: 1024px) {

    .header-field {
        width: 900px;
        margin: auto;
    }

    .header-image {
        width: 100%;
    }

    .mainContainer {
        width: 100%;
        margin: 0;
    }

    .main-laptopview-image {
        display: inline-block;
    }

    .main-laptopview-image img {
        display: flex;
        padding: 20px;
        width: 200px;
    } 
    
    #main-laptopview-image p {
        padding-bottom: 20px;
    }

}
